<div class="jumbo">
  <div class="aboutpage"></div>
  <br>
<div align="center">
  <h3><font color="#457C8D" text-align="center">Pick Your Choice for Manufacturer </font></h3>
  <p>
  Our services include selling the Used cars at best possible price from all service providers
</p>
  {{#link-to "contact" class="button" align="right"}}
    Contact Us
  {{/link-to}}
</div>
<br><br>

<div>
</div>
 <div class="row_home">
   <div class="column_home1">
     <img src="/assets/images/cer.png" alt="Reputed car sale company for used cars">
     <p>Reputed car sale company for used cars</p>
   </div>
   <div class="column_home2">
     <img src="/assets/images/inspection.png" alt="Reputed car sale company for used cars">
     <p>Helps customer to inspect old cars to provide them best value for money</p>
   </div>
   <div class="column_home3"><img src="/assets/images/money.png" alt="Reputed car sale company for used cars">
     <p>Lowest possible rates for resale for car models</p>
   </div>
   <div class="column_home4"><img src="/assets/images/customer.png" alt="Reputed car sale company for used cars">
     <p>Expanding in market faster. Adding more customers</p>
   </div>
 </div>
</div>
{{outlet}}
