<div class="jumbo">
  <section style="clear:both;inline-block;">
    <h3 align="center">
      <font color="#457C8D">
        Happy to help you find the best used car..!!
      </font>
    </h3>
    <br>
    <div class="contactimg">
      <div class="contactpagecenter"></div>
    </div>
    <br>
    <div class="contactdiv">

        <h4>ADDRESS:</h4>
        <address>
            Buy Your Car
              <br>
              <span>
                BYC Headquarters,
                800 N State College Blvd, Fullerton, CA 92831
              </span>
              <br>
              <a href="tel:714.444.1212">+1 (714) 444-1212</a><br>
              <a href="mailto:buyyourcar@gmail.com">buyyourcar@gmail.com</a><br>
        </address>
        <br>
        <div>
          {{#link-to "about" class="button" }}About Us{{/link-to}}
        </div>
      </div>
  </section>
</div>
{{outlet}}
