<div class="clearfix home">
  <div class="flex-container homecenter">

    <div class="one">
      <section>
        <h3>Buy Your Car, Drive Your Dreams</h3>
        <br>
        <p>Welcome to United States largest vehicle market. More than 1.4 million vehicles are waiting for you here every day. Used cars, small cars, vintage cars, luxury limousines or cheap cars. No matter what car you are looking for, you will find it on BuyYourCar.com.  With a search and just a few clicks you can get an overview of the entire car market. You can easily compare and decide to contact used car salesmen. Free and without stress.
</p>
<p>BuyYourCar.com Sales offers one of the best websites for buying used cars. Some of the most popular vehicles on the market can be found in our extensive inventory of used cars, trucks, vans and SUVS for sale.</p>
        <p>To view cars, click on View cars.</p>
      </section>
    </div>
<!--    <button class="btn">Hover Over Me</button> -->

<!--    <div class="two"> -->
      {{#link-to "seecars" class="btn" tagName='button' }}
        View cars
      {{/link-to}}

<!--    </div> -->
  </div>
</div>
{{outlet}}
